body, html{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}
.about{

    
    overflow: hidden; /* Предотвращаем появление скролла */
    width: 100%;
    color: #777;
    background: #222629;
}